*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@import '../scss/colors';
@import '../scss/typography';
@import '../scss/media';

body{
    width: 100%;
    background-color: $white-normal;
}

@import '../scss/layout';
@import '../scss/spacing';